{% set dirs = salt['grains.filter_by']({
  'Debian': {
    'etc': '/etc',
    'bin': '/usr/bin',
    'fonts': '/usr/share/fonts',
    'home': '/home',
    'include': '/usr/include',
    'lib': '/usr/lib',
    'man': '/usr/share/man',
    'sbin': '/usr/sbin',
  },
  'RedHat': {
    'etc': '/etc',
    'bin': '/usr/bin',
    'fonts': '/usr/share/fonts',
    'home': '/home',
    'include': '/usr/include',
    'lib': '/usr/lib64',
    'man': '/usr/share/man',
    'sbin': '/usr/sbin',
  },
  'FreeBSD' : {
    'etc': '/usr/local/etc',
    'bin': '/usr/local/bin',
    'fonts': '/usr/local/share/fonts',
    'home': '/home',
    'include': '/usr/local/include',
    'lib': '/usr/local/lib',
    'man': '/usr/local/man',
    'sbin': '/usr/local/sbin',
  }
}, default='Debian') %}

{% set packages_prefixes = salt['grains.filter_by']({
  'Debian': {
    'php': 'php8.2-',
    'python2': '',
    'python3': 'python3-',
  },
  'RedHat': {
    'php': 'php-',
    'python2': 'python2-',
    'python3': 'python3-',
    'rubygem': 'rubygem-',
  },
  'FreeBSD' : {
    'php': 'php83-',
    'python2': 'py27-',
    'python3': 'py39-',
    'rubygem': 'rubygem-',
  },
}, default='Debian') %}

{% set packages = salt['grains.filter_by']({
  'Debian' : {
    'ag': 'silversearcher-ag',
    'aspell-fr': 'aspell-fr',
    'aspell-en': 'aspell-en',
    'boost': 'libboost-dev',
    'certbot': 'certbot',
    'composer': 'composer',
    'cppunit': 'libcppunit-dev',
    'emacs': 'emacs-nox',
    'exiftool': 'libimage-exiftool-perl',
    'icedtea': 'icedtea-netx',
    'imagemagick': 'imagemagick',
    'libpq': 'libpq-dev',
    'librabbitmq': 'librabbitmq-dev',
    'mariadb': 'mariadb-server',
    'node': 'nodejs',
    'nss-tools': 'libnss3-tools',
    'pear': 'php-pear',
    'phpcs': 'php-codesniffer',
    'phpunit': 'phpunit',
    'python3-gobject': 'python3-gi',
    'python3-usb': 'python3-usb',
    'rubocop': 'rubocop',
    'sphinx': 'python3-sphinx',
    'sqlite': 'sqlite3-dev',
    'tcltls': 'tcl-tls',
    'tdom': 'tdom',
    'varnish': 'varnish',
    'verbiste': 'verbiste',
    'youtube-dl': 'youtube-dl',
  },
  'RedHat': {
    'ag': 'the_silver_searcher',
    'aspell-fr': 'aspell-fr',
    'aspell-en': 'aspell-en',
    'boost': 'boost',
    'certbot': 'python2-certbot',
    'composer': 'composer',
    'cppunit': 'cppunit-devel',
    'emacs': 'emacs-nox',
    'exiftool': 'perl-Image-ExifTool',
    'icedtea': 'icedtea-web',
    'imagemagick': 'ImageMagick',
    'libpq': 'libpq-devel',
    'librabbitmq': 'librabbitmq',
    'mariadb': 'mariadb-server',
    'node': 'nodejs',
    'nss-tools': 'nss-tools',
    'pear': 'php-pear',
    'phpcs': 'php-pear-PHP-CodeSniffer',
    'phpunit': 'phpunit7',
    'python3-gobject': 'python-gobject',
    'python3-usb': 'python-pyusb',
    'rubocop': 'rubygem-rubocop',
    'sphinx': 'python3-sphinx',
    'sqlite': 'sqlite-devel',
    'tcltls': 'tcltls',
    'tdom': 'tdom',
    'varnish': 'varnish',
    'verbiste': 'verbiste',
    'youtube-dl': 'youtube-dl',
  },
  'Arch': {
    'ag': 'the_silver_searcher',
    'aspell-fr': 'aspell-fr',
    'certbot': 'certbot',
    'cppunit': 'cppunit',
    'emacs': 'emacs-nox',
    'mariadb': 'mariadb',
    'nss-tools': 'nss',
    'sphinx': 'python-sphinx',
    'tcltls': 'tcltls',
    'varnish': 'varnish',
    'youtube-dl': 'youtube-dl',
  },
  'FreeBSD' : {
    'ag': 'the_silver_searcher',
    'aspell-fr': 'fr-aspell',
    'aspell-en': 'en-aspell',
    'boost': 'boost-all',
    'certbot': 'py39-certbot',
    'composer': 'php-composer',
    'cppunit': 'cppunit',
    'emacs': 'emacs-nox11',
    'exiftool': 'p5-Image-ExifTool-devel',
    'icedtea': 'icedtea-web',
    'imagemagick': 'ImageMagick',
    'libpq': 'postgresql15-client',
    'librabbitmq': 'rabbitmq-c-devel',
    'mariadb': 'mariadb102-server',
    'node': 'node',
    'nss-tools': 'nss',
    'pear': 'pear',
    'phpcs': 'pear-PHP_CodeSniffer',
    'phpunit': 'phpunit6',
    'rubocop': 'rubygem-rubocop',
    'sphinx': 'py39-sphinx',
    'sqlite': 'sqlite3',
    'tcltls': 'tcltls',
    'tdom': 'tDOM',
    'varnish': 'varnish5',
    'verbiste': 'fr-verbiste',
    'youtube-dl': 'youtube_dl',
  },
}, default='Debian') %}

{% set services = salt['grains.filter_by']({
    'Debian': {
        'manager': 'systemd',
        'firewall': 'iptables',
    },
    'RedHat': {
        'manager': 'systemd',
        'firewall': 'firewalld',
    },
    'FreeBSD' : {
        'manager': 'rc',
        'firewall': 'pf',
    },
}, default='Debian') %}
