{% set dirs = salt['grains.filter_by']({
  'Debian': {
    'etc': '/etc',
    'bin': '/usr/bin',
    'home': '/home',
    'include': '/usr/include',
    'lib': '/usr/lib',
    'man': '/usr/share/man',
    'sbin': '/usr/sbin',
  },
  'RedHat': {
    'etc': '/etc',
    'bin': '/usr/bin',
    'home': '/home',
    'include': '/usr/include',
    'lib': '/usr/lib64',
    'man': '/usr/share/man',
    'sbin': '/usr/sbin',
  },
  'FreeBSD' : {
    'etc': '/usr/local/etc',
    'bin': '/usr/local/bin',
    'include': '/usr/local/include',
    'lib': '/usr/local/lib',
    'man': '/usr/local/man',
    'sbin': '/usr/local/sbin',
  }
}, default='Debian') %}

{% set packages = salt['grains.filter_by']({
    'Debian': {
      'nss-tools': 'libnss3-tools',
    },
    'RedHat': {
      'nss-tools': 'nss-tools',
    },
    'Arch' : {
      'nss-tools': 'nss',
    },
    'FreeBSD' : {
      'nss-tools': 'nss',
    },
}, default='Debian') %}
