{% set packages = [
  # GFX
  "ImageMagick",

  # Fonts
  "dejavu-fonts",

  # Servers
  "nginx",

  # Dev
  "autoconf",
  "autoconf2.1",
  "autoconf2.5",
  "clang",
  "colordiff",
  "compiler-rt",
  "cygwin-devel",
  "cygwin32-binutils",
  "cygwin32-default-manifest",
  "cygwin32-gcc-core",
  "cygwin32-gcc-g++",
  "cygwin32-w32api-headers",
  "cygwin32-w32api-runtime",
  "gcc-core",
  "gcc-g++",
  "gdb",
  "llvm",
  "m4",
  "make",
  "w32api-headers",
  "w32api-runtime",

  # SSH & co
  "mosh",
  "openssh",
  "rsync",
  "ssh-pageant",

  # PHP
  "php",
  "php-PEAR",
  "php-bcmath",
  "php-bz2",
  "php-calendar",
  "php-ctype",
  "php-curl",
  "php-devel",
  "php-exif",
  "php-fileinfo",
  "php-ftp",
  "php-gd",
  "php-gettext",
  "php-gmp",
  "php-iconv",
  "php-imap",
  "php-intl",
  "php-json",
  "php-ldap",
  "php-mbstring",
  "php-mysqli",
  "php-odbc",
  "php-opcache",
  "php-pdo_mysql",
  "php-pdo_pgsql",
  "php-pdo_sqlite",
  "php-pgsql",
  "php-phar",
  "php-posix",
  "php-pspell",
  "php-soap",
  "php-sqlite3",
  "php-tokenizer",
  "php-wddx",
  "php-xmlreader",
  "php-xmlwriter",
  "php-zip",
  "php-zlib",

  # Python
  "python-pip-wheel",
  "python-setuptools-wheel",
  "python-wheel-wheel",
  "python2",
  "python27",
  "python27-yaml",
  "python38-pip",
  "python38-setuptools",
  "python38-numpy",
  "python38-setuptools",

  # Ruby
  "ruby",
  "ruby-builder",
  "ruby-did_you_mean",
  "ruby-minitest",
  "ruby-rake",
  "ruby-rdoc",
  "rubygems",

  # IRC
  "irssi",

  # Utilities
  "base-cygwin",
  "base-files",
  "bash",
  "binutils",
  "bzip2",
  "ca-certificates",
  "coreutils",
  "crypt",
  "crypto-policies",
  "csih",
  "cygrunsrv",
  "cygutils",
  "cygwin",
  "cygwin32",
  "dash",
  "desktop-file-utils",
  "diffutils",
  "editrights",
  "file",
  "findutils",
  "gamin",
  "gawk",
  "getent",
  "git",
  "grep",
  "groff",
  "gsettings-desktop-schemas",
  "gzip",
  "hostname",
  "info",
  "ipc-utils",
  "less",
  "links",
  "login",
  "lynx",
  "man-db",
  "mintty",
  "nano",
  "nc",
  "ncurses",
  "openssl",
  "perl",
  "pkg-config",
  "pkgconf",
  "publicsuffix-list-dafsa",
  "rebase",
  "run",
  "sed",
  "shared-mime-info",
  "tar",
  "tcl",
  "tcl-sqlite3",
  "tcl-tk",
  "terminfo",
  "terminfo-extra",
  "the_silver_searcher",
  "tmux",
  "tzcode",
  "tzdata",
  "util-linux",
  "vim-minimal",
  "wget",
  "which",
  "whois",
  "windows-default-manifest",
  "xz",
  "zlib0",
  "zsh",
] %}
