ATTRS{idVendor}=="1532", ATTRS{idProduct}=="051a", ENV{${profile_set_instruction}}="razer-nari-usb-audio.conf"
ATTRS{idVendor}=="1532", ATTRS{idProduct}=="051c", ENV{${profile_set_instruction}}="razer-nari-usb-audio.conf"
ATTRS{idVendor}=="1532", ATTRS{idProduct}=="051d", ENV{${profile_set_instruction}}="razer-nari-usb-audio.conf"
